.logout {
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: hsl(149.94 48% 54%);
    background-color: oklch(73.42% 0.132 158.69);
    cursor: pointer;
    color: hsl(149.94 48% 100%);
    color: oklch(100% 0 158.69);
}